body{
    background-color: purple;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.yellow{
  background-color: yellow;
}

.pink{
  background-color: pink;
}